---
import Layout from "~/layouts/PageLayoutSansFooter.astro";
import SearchComponent from "astro-pagefind/components/Search";

const metadata = {
  title: "Search",
};
---

<script>
  // Pagefind search just works out of the box, but these functions are for
  // updating the URL as well, using the `q` query param as state.
  function getQueryParam() {
    const urlParams = new URLSearchParams(window.location.search);
    const searchQuery = urlParams.get("q");
    if (searchQuery) {
      const searchInput = document.querySelector(".pagefind-ui input") as HTMLInputElement;
      if (searchInput) {
        searchInput.value = searchQuery;
        searchInput.dispatchEvent(new Event("input")); // Trigger the input event to start the search
      }
    }
  }

  function handleChange(e) {
    const input = e.target as HTMLInputElement;
    const value = input.value;
    if (value) {
      const url = new URL(window.location.href);
      const params = new URLSearchParams(url.search);
      params.set("q", value);
      window.history.replaceState({}, "", `${url.pathname}?${params}`);
    } else {
      handleClear();
    }
  }

  function handleClear() {
    const url = new URL(window.location.href);
    window.history.replaceState({}, "", `${url.pathname}`);
  }

  function initializeInput() {
    const searchInput = document.querySelector(".pagefind-ui input") as HTMLInputElement;
    if (searchInput) {
      searchInput.addEventListener("input", handleChange);
    }
  }

  function initializeButton() {
    const clearButton = document.querySelector(".pagefind-ui button") as HTMLButtonElement;
    if (clearButton) {
      clearButton.addEventListener("click", handleClear);
    }
  }

  function onPageLoad() {
    getQueryParam();
    setTimeout(() => {
      initializeInput();
      initializeButton();
    }, 100);
  }

  // This method of adding event listeners is copied from what
  // node_modules/astro-pagefind/src/components/Search.astro does
  document.addEventListener("astro:page-load", onPageLoad);
  if (document.readyState === "loading") {
    document.addEventListener("DOMContentLoaded", onPageLoad);
  } else {
    onPageLoad();
  }
</script>

<Layout metadata={metadata} disablePagefind={true}>
  <section class="not-prose">
    <div class="mx-auto max-w-xl px-4 py-6 md:px-6">
      <div class="mx-auto text-center">
        <p class="text-secondary text-base font-bold tracking-wide uppercase dark:text-red-200">Search</p>
        <h1 class="leading-tighter font-heading mb-4 text-3xl font-bold tracking-tighter dark:text-gray-200">
          search my site
        </h1>
      </div>
      <div class="mx-auto mb-12 min-h-48">
        <SearchComponent
          id="search"
          className="pagefind-ui"
          uiOptions={{
            autofocus: true,
            excerptLength: 50,
            showImages: false,
            translations: {
              placeholder: "search my site",
            },
          }}
        />
      </div>
    </div>
  </section>
</Layout>
