---
// Tag page
import type { InferGetStaticPropsType, GetStaticPaths } from "astro";
import { blogTagRobots, getStaticPathsBlogTag } from "~/utils/blog";

import Layout from "~/layouts/PageLayout.astro";
import BlogList from "~/components/blog/List.astro";
import Pagination from "~/components/blog/Pagination.astro";
import Rubric from "~/components/blog/Rubric.astro";

export const prerender = true;

export const getStaticPaths = (async ({ paginate }) => {
  return await getStaticPathsBlogTag({ paginate });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { page, tag } = Astro.props as Props;

const currentPage = page.currentPage ?? 1;

const metadata = {
  title: `Posts by tag '${tag}'${currentPage > 1 ? ` — Page ${currentPage} ` : ""}`,
  robots: {
    index: blogTagRobots?.index,
    follow: blogTagRobots?.follow,
  },
};

const rubric = "Tag";
---

<Layout metadata={metadata} disablePagefind={true}>
  <section class="mx-auto max-w-4xl px-4 py-6 md:px-6">
    <Rubric rubric={rubric} headline={tag} />
    <BlogList posts={page.data} />
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </section>
</Layout>
